@theme {
  --color-primary-accent: #3b82f6;
  --color-bg-main: #171717;
  --color-bg-sidebar: #262626;
  --color-text-muted: #a3a3a3;
}

:root {
  --background: var(--color-bg-main);
  --background-muted: var(--color-bg-sidebar);

  --text: #e5e5e5;
  --text-muted: var(--color-text-muted);

  --border: #404040;
  --link: #f5f5f5;

  --primary-accent: var(--color-primary-accent);
}

* {
  border-color: var(--border);
}

::selection {
  background: theme(colors.zinc.700);
}
